@import 'tailwindcss';

:root {
  /* Base theme variables */
  --background: #e2dfcd;
  --foreground: #171717;
}

@theme {
  /* Empire Theme */
  --color-black: #090906;
  --color-penn-red: #9f1315;
  --color-lighter-red: #9f1315c1;
  --color-smoky-black: #070802;
  --color-bone: #d2d0c0;
  --color-black-bean: #4a0c0c;

  /* Invictus Theme */
  --color-dark-goldenrod: #a5842a;
  --color-satin-gold: #bd9a3f;
  --color-night-black: #130f09;
  --color-night: #151510;
  --color-drab-brown: #55461d;

  /* Semantic Color Names */
  --color-primary: var(--color-penn-red);
  --color-primary-dark: var(--color-black-bean);
  --color-secondary: var(--color-dark-goldenrod);
  --color-secondary-dark: var(--color-drab-brown);
  --color-neutral: var(--color-bone);
  --color-text-light: var(--color-bone);
  --color-text-dark: var(--color-smoky-black);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #c7c4b1;
  }
}

/* Base styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom utility classes */
@layer components {
}
