@import "tailwindcss";

:root {
  /* Base theme variables */
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* Empire Theme */
  --color-black: #090906;
  --color-penn-red: #9F1315;
  --color-smoky-black: #070802;
  --color-bone: #C7C4B1;
  --color-black-bean: #4A0C0C;
  
  /* Invictus Theme */
  --color-dark-goldenrod: #A5842A;
  --color-satin-gold: #BD9A3F;
  --color-night-black: #130F09;
  --color-night: #151510;
  --color-drab-brown: #55461D;
  
  /* Semantic Color Names */
  --color-primary: var(--color-penn-red);
  --color-primary-dark: var(--color-black-bean);
  --color-secondary: var(--color-dark-goldenrod);
  --color-secondary-dark: var(--color-drab-brown);
  --color-neutral: var(--color-bone);
  --color-text-light: var(--color-bone);
  --color-text-dark: var(--color-smoky-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Base styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom utility classes */
@layer components {
}